body {
	font-family: Roboto;
}


td.el-table_1_column_2 {
	font-weight: bold;
}


tbody > tr:nth-child(4) td {
	border-bottom: 2px solid #999; 
}

tbody > tr:nth-child(18) td {
	border-top: 2px solid #999; 
}